span.nowrap {
  white-space: nowrap;
}

table.inspector {
border-collapse:collapse;
}


table.inspector th {
background-color: #555;
text-align: left;
}

table.inspector th a,
table.inspector th p {
font: bold 11px arial, sans-serif;
display: block;
background-color: #555;
}

table.inspector th a {
color: #fff;
padding: 2px 15px 2px 5px;
}

table.inspector th p {
color: #eee;
padding: 2px 5px;
}

table.inspector th a:hover {
background-color: #000;
color: #ff8;
}

table.inspector > tbody > tr.record td {
background-color: #E6F2FF;
}

table.inspector > tbody > tr.record > td {
padding: 5px 4px;
color: #333;
font-family: Verdana, sans-serif;
font-size: 11px;
border-bottom: solid 1px #C5DBF7;
border-left: solid 1px #C5DBF7;
}

table.inspector > tbody > tr.even-record td {
background-color: #fff;
}

table.inspector > tbody > tr.even-record > td {
border-left: solid 1px #ddd;
}

table.inspector > tbody >  tr.record > td.sorted {
background-color: #B9DCFF;
border-bottom: solid 1px #AFD0F5;
}

table.inspector > tbody >  tr.even-record > td.sorted {
background-color: #E6F2FF;
border-bottom: solid 1px #AFD0F5;
}



.record table
{
        background-color: #fff;
        border-collapse: collapse;
        border-spacing: 0px;
}
.record table th
{
        background-color: #dee7ec;
        border: 1px solid #8cacbb;
        padding: 3px;
}
.record table td
{
        border: 1px solid #8cacbb;
        padding: 3px;
}

table.logical th,
table.logical td {
        border: 0px;
}
