<div>
<table class="inspector data-mapper-collection">
  <thead>
    <tr>
<%- columns.each do |p| -%>
      <th><p><%= column_label(p) %></p></th>
<%- end -%>
      <th></th>
    </tr>
  </thead>
  <tbody class="records">
<%- records.each_with_index do |record, i| -%>
<%-
tr_class = (i % 2 == 0) ? "even-record" : ""
tr_class += " #{list_row_class(record)}" if respond_to? :list_row_class
-%>
    <tr class="record <%=tr_class%>">
<%- columns.each do |p| -%>
      <td><%= column_value(record, p) %></td>
<%- end -%>
    </tr>
<%- end -%>
  </tbody>
</table>
 
<%= link_to_new 'New' %>

</div>

