<table class="inspector">
<tr>
  <th><p>key</p></th>
  <th><p>value</p></th>
  <th><p>type</p></th>
</tr>
<%- @object.keys.each_with_index do |key, i| -%>
<%-   obj = @object[key] -%>
<%-
tr_class = (i % 2 == 0) ? "even-record" : ""
tr_class += " #{list_row_class(record)}" if respond_to? :list_row_class
-%>
<tr class="record <%=tr_class%>">
  <td><%=h key.inspect %></td>
  <td><%=h obj.inspect %></td>
  <td><%=h obj.class.name %></td>
</tr>
<%- end -%>
</table>
