<div>
<%= form_for record do %>
<table class="record show">
  <tbody>
<%- columns.each do |p| -%>
    <tr>
      <th><%= column_header(p) %></th>
      <td><%=h column_form(record, p) %></td>
    </tr>
<%- end -%>
  </tbody>
</table>
<% end =%>
</div>

